*{
    font-family: Arial;
}

.myButton {
    background-color: #ecaf3f;
    border-radius:28px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:100px;
    font-weight:bold;
    padding:22px 57px;
    text-decoration:none;
    box-shadow:0px 1px 0px #000000;
}
.myButton:hover {
    background-color: #bd7320;
}
.body{
    background: cadetblue;
    height: 100%;
    width: 100%;
    margin: 0;
}
.text{
    margin: 40px;
    padding: 40px;
    font-size: 80px;
}

.card{
    background: white;
    border-radius:28px;
    margin: 5%;
    width: 90%;
    box-shadow:0px 1px 0px #000000;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.icon{
    font-size: 150px;
}
.explain{
    font-size: 50px;
    margin: 30px;
}